<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>app-estacion - Administrator</title>
	<link rel="stylesheet" href="{{URL_WEB}}/static/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>	
</head>
<body>
	<div class="wrapper-tiny">
		<div class="card-tiny">
			<h1 id="h1_admin">Administrador</h1>
			<a href="{{URL_WEB}}/landing" class="btn-acceder btn_admin">Cerrar Sesión</a>
			<a href="{{URL_WEB}}/map" class="btn-acceder btn_admin">Mapa de clientes</a>
			<h2>{{USERS}}</h2>
			<h2>{{CLIENTS}}</h2>
		</div>	
	</div>
	</div>
	
	
</body>
</html>




