<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, 
initial-scale=1.0">
	<title>app-estacion - Landing</title>
	<link rel="stylesheet" href="{{URL_WEB}}/static/css/style.css">
	<link rel="stylesheet" 
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" 
/>
</head>
<body>
	<div id="wrapper-landing">
		<h1>Bienvenidos a App Estación</h1>
		<p>App Estación es una app web que se encarga de mostrar información sobre las diferentes estaciones que se encuentran a lo largo y ancho del país. <br/>
		Esto lo hacemos con el fin de informar sobre el estado en el que se encuentra la temperatura, sensación, viento, humedad, presión y riesgo de incendio. <br/>
		Los datos se muestran en forma de gráficos y éstos se actualizan cada un minuto para enterarnos del estado del clima.</p>
		<a href="{{URL_WEB}}/panel" class="btn-acceder">Acceder</a>
	</div>
</body>

</html>
