<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, 
initial-scale=1.0">
	<title>app-estacion - panel</title>
	<link rel="stylesheet" href="{{URL_WEB}}/static/css/style.css">
	<link rel="stylesheet" 
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" 
/>
</head>
<body>
	<div id="wrapper-panel">
		<h1>ESTACIONES</h1>
		<div id="list-estacion">
		
		</div>
	</div>
	<template id="tpl-btn-estacion">
		<a class="btn-estacion" href="">
			<div class="estacion-apodo centrar">
			</div>
			<div class="estacion-ubicacion centrar">
			</div>
			<div class="estacion-visitas centrar derecha">
			</div>
		</a>
	</template>


	<script type="text/javascript" src="{{URL_WEB}}/static/js/script.js" defer></script>
</body>
</html>