@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
	margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    font-family: 'Ubuntu';
}

/*--------COLORES--------*/

.rojo{
	color: red;
}

.naranja{
	color: orange;
}

.celeste{
	color: cyan;
}

.verde{
	color: green;
}

.amarillo{
	color: yellow;
}

/*--------ELEMENTOS PAGINA--------*/

body{
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}

h1{
	font-size: 18pt;
}

h2{
	font-size: 15pt;
}

h3{
	font-size: 12pt;
}

h4{
	font-size: 9pt;
}

h1, h2, h3, h4{
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	margin: 20px;
	height: 10vh;
}

/*--------404--------*/
.wrapper-tiny{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-tiny{
	background-color: rgba(0, 0, 0, 0.55);
	color: white;
	width: 400px;
	height: 350px;
	padding:40px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	& h1{
		font-size: 60pt;
		text-align: center;
	}

	& h2{
		font-size: 17pt;
		text-align: center;
	}
}

/*--------LANDING--------*/
#wrapper-landing{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100vw;
	height: 100vh;
	padding: 0 10%;
	color: black;
	background-image: url("../../resources/img/cielo.jpeg");
	background-position: center;
	justify-content: center;
	-webkit-background-size: cover; /* For WebKit*/ 
	-moz-background-size: cover; /* Mozilla*/ 
	-o-background-size: cover; /* Opera*/ 
	background-size: cover;
	background-repeat: repeat;

	& p{
		line-height: 1.5em;
    	font-size: 15pt;
    	border-radius: 20px;
    	color: white;
    	padding: 20px;
		background-color: rgba(0, 0, 0, 0.55);
	}

	& h1{
		justify-content: initial;
		font-size: 37pt;
	}
}

.btn-acceder{
	width: 150px;
	background-color: #2e15db;
	padding: 15px;
	font-size: 20pt;
	text-align: center;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}

.btn-acceder:hover{
	background-color: #2000ff;
}

/*--------LOGIN--------*/
#wrapper-form{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#card-form{
	background-color: rgba(0, 0, 0, 0.55);
	color: white;
	width: 400px;
	padding:40px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	& h1{
		font-size: 50pt;
	}

	& h2{
		font-size: 17pt;
	}
}

.link_white{
	color: white;
	text-decoration: none;
}

#mensaje_lbl{
	color: red;
	font-size: 13pt !important;
	text-align: center;
}

#form{
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;

	& label{
		font-size: 20pt;
	}

	& input{
		padding: 5px;
		height: 40px;
		font-size: 15pt;
		width: 80%;
		border-radius: 8px;
		border:none;
	}

	& input[type=submit]{

	}
}

/*--------PANEL--------*/

#wrapper-panel{
	width: 100vw;
	height: 100vh;
	padding: 20px 33%;

	& h1{
	color: white;
	}
}

#list-estacion{
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: white;
}

.centrar{
	display:flex;
	align-items:center;
}

.btn-estacion{
	background-color: rgba(0, 0, 0, 0.55);
	color: white;
	text-decoration: none;
	border-radius: 10px;
	padding:15px 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.btn-estacion:hover{
	background-color: rgba(0, 0, 0, 0.7);
}

.btn-estacion:active{
	background-color: rgba(0, 0, 0, 0.8);
}

.derecha{
	display: flex;
	justify-content: right;
}

/*ADMIN*/

#h1_admin{
	font-size: 30pt;
}

.btn_admin{
	width: 80% !important;
}

/*--------DETALLE--------*/

#opciones{
	display: flex;
	justify-content: space-around;
	gap:20px;
	height: 100%;

	& button{
	border:none;
	width: 20%;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.55);
	border-radius: 10px;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 12pt;
  	gap: 5px;
  	cursor: pointer;
	}

	& button:hover{
	background-color: rgba(0, 0, 0, 0.7);
	}

	& button:active{
	background-color: rgba(0, 0, 0, 0.8);
	}
}

#contenido{
	background-color: rgba(0, 0, 0, 0.55);
	color: white;
	border-radius: 10px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
}

#btn-volver{
	width: 30px;
	height: 40px;
	background-color: #2e15db;
	border-radius: 10px 0 10px 0;
	position: absolute;

  	& a{
  		width: 100%;
  		height: 100%;
		color: white;
		text-decoration: none;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
  		font-size: 25pt !important;
  	}
}

#btn-volver:hover{
	background-color: #2000ff;
}

#panel-container{
	padding:8px;
	height: 250px;
	width: 100%;
}

#grafico{
	height: 250px;
	width: 100%;
}

#panel-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-info{
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 5px;
}

#panel-container-temperatura, #panel-container-viento, #panel-container-fuego{
	display: flex;
}

.panel-col{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col-items{
	width: 100%;
}

.item-title{
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-important{
	display: flex;
	justify-content: center;
}

.important-val-int{
	font-size: 80px;
}

.important-val-unit{
	  font-size: 36px;
}

.important-val-dec{
	  font-size: 37px;
}

.panel-row{
	display: flex;
	justify-content: center;
	gap:10px;
}

#temp-max, #temp-min, #sens-min, #sens-max{
	text-align: center;
}

#sens-val-int{
	font-size: 80px;
}

#item-viento{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 40px;
	flex-wrap: wrap;

	& i{
	font-size: 40px !important;
	}
}

.item-value{
	text-align: center;
}

#grafico__container{
	position: relative;
	height: 100%;
	width: 100%;
  	padding: 0.5em;
}

@media screen and (max-width: 650px) {

	#wrapper-landing{
		padding: 0 10px;
	}

    #wrapper-panel {
        padding: 10px;
    }

    header{
    	height: auto;
    }

    #opciones {
		gap:5px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		& button{
		width: 49%;
    	height: 40px;
   		padding: 5px;
		}
	}

	#item-viento{
		font-size: 20pt;
	}
}